{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}Auctions{% endblock %}

{% block body %}
    <div class="listings">
    {% for listing in listings %}
        <div class="shadow-1">
            <div class="image shadow-1">
            {% if listing.image_URL %}
                <img src="{{ listing.image_URL }}" />
            {% else %}
                <img src="{% static 'auctions/img/placeholder-images-image_large.png' %}" />
            {% endif %}
            </div>
            <h3> {{ listing.title }} </h3>
            <strong>Price:</strong> {{ listing.initial_bid }}.00€
            <p> {{ listing.description }} </p>
            <time><i class="material-icons-outlined">schedule</i> {{ listing.created }} </time>
        </div>
    {% endfor %}
    </div>
{% endblock %}