body {
    font-family: Montserrat, sans-serif;
    color: $text_color; 
    & > *{
        padding: $layout_padding;
    }
}

h1,h2,h3,h4,h5,h6{
    color: $secondary_accent;
    font-family: Roboto, sans-serif;
}
.description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.alert{
    background: $primary_accent;
    color: white;
}

h1, h2{
    text-transform: uppercase;
}

a{
    color: $link_color;
}

.primary{
    background: $primary_accent !important;
}

.accent{ 
    background: $secondary_accent !important;
}

section.header {
    position: relative;
    padding-top: $spacing_unit *2;

    .login{
        position: absolute;
        top: $spacing_unit *2;
        right: $spacing_unit * 5;
    }

    h1 {
        a{
            color: $primary_accent;
            font-weight: 700;
            &:hover{
                text-decoration: none;
            }
            span{
                font-weight: 100;
            }
        }
        margin-bottom: $spacing_unit * 2;   
    }
    
    background: $secondary_accent;
    color: white;
}