form {

    input.primary{
        background: $primary_accent;
    }
    
    input.accent{ 
        background: $secondary_accent;
    }
    
    input[type="submit"]{
        width: initial;
        background: $primary_accent;
        border: $primary_accent;

        &:hover{
            background: lighten($color: $primary_accent, $amount: 15%)
        }
    }


    p{
        display: flex;
        align-items: flex-start;
        input[type="submit"]{
            text-align: right;
            margin-left:95vw;
            transform: translate(-100%,0);
        }
    }

    & + p {
        margin-top: $spacing_unit;
    }
}

