ul.nav{
    a{
        color: white;
    }

    li{
        border: 3px solid white;
        border-radius: $spacing_unit $spacing_unit 0 0;
        border-bottom: none;
        transition: all 0.3ms;
        &.selected{
            a{
                color: $secondary_accent;
                font-weight: bold;
            }
            background: white;
            border: none;
        }
    }

    li + li {
        margin-left: $spacing_unit / 2;
    }
}