$RoyalBlueDark: #0a2463;
$RedSalsa: #fb3640;
$DavysGrey: #605f5e;
$CeladonBlue: #247ba0;
$Platinum: #e2e2e2;


$link_color: $CeladonBlue;
$light_bg_color: $Platinum;
$text_color: $DavysGrey;
$primary_accent: $RedSalsa;
$secondary_accent: $RoyalBlueDark;

$spacing_unit : 1rem;
$layout_padding: 0 $spacing_unit * 5;
$gray: #e1e1e1;
$text_gray: darken($gray, 25%);
$border_style:  1px solid $gray;

