body {
    font-family: arial, sans-serif;
    text-align: center;

    img#logo {
        margin-top: 20vh;
        margin-bottom: 1rem;
    }

    a {
        font-size: small;
        color: darken($textColor, 15%);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
