%wrapper {
    display: inline-block;
    position: relative;
}

%removeSpacing{
    padding:0;
    margin:0;
}

.block-wrapper {
    display: block;
    @extend %removeSpacing;
    .input-wrapper {
        @extend %wrapper;
        margin-bottom: 1.5rem;
        .icon {
            position: absolute;
            top: 55%;
            width: 20px;
            height: 20px;
            color: $textColor;
            z-index: 1;
            left: $spacing;
            transform: translate(0, -50%);
            svg {
                fill: gray;
            }
        }
    }
}

.logo-wrapper {
    @extend %wrapper;
    @extend %removeSpacing;
}

nav {
    ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0;
        li {
            list-style: none;
            display: inline;
            &:last-of-type {
                margin-right: $spacing;
            }
        }
        li + li {
            margin-left: $spacing;
        }
    }
}
