{% extends "computedart/layout.html" %}
{% load static %}

{% block body %}
<div>
    <form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ form.title|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ form.square_size|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.grid_width|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.grid_height|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ form.circle_chance|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ form.color_chance|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ form.animate|as_crispy_field }}
            </div>
        </div>
        <div class="form-row colors">
            <div class="form-group col-md-12 mb-2">
                <label for="color-1" class=" requiredField">
                    Color 1<span class="asteriskField">*</span>
                </label>
                <div>
                    <input type="color" class="color-config" name="color-1" />
                </div>
            </div>
        </div>
        <div class="form-row colors">
            <div class="form-group col-md-12 mb-2">
                <label for="color-2" class=" requiredField">
                    Color 2<span class="asteriskField">*</span>
                </label>
                <div>
                    <input type="color" class="color-config" name="color-2" />
                </div>
            </div>
        </div>
        <button value="add_color" class="btn btn-secondary">Add Color</button>
        <div class="mt-2 text-center">
            <input type="submit" class="btn btn-primary" value="Generate Image" />
        </div>
    </form>
    <script src="{% static 'computedart/js/utils.js' %}"></script>
    <script src="{% static 'computedart/js/createconfig.js' %}"></script>
    </div>
{% endblock %}